main {
    transform: translateY(72px);
    height: 1000vh;

    .w-90 {
        width: 90%;
    }

    #elements {
        position: relative;

        svg {
            position: absolute;
            left: 0;
            bottom: 0;

            path {
                transform: rotate(180deg);
                transform-origin: 50% 50%;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(16, 34, 58);
            background: linear-gradient(263deg, rgba(16, 34, 58, 0.6) 100%, rgba(255, 255, 255, 1) 100%);
        }

        background-image: url(/images/pageheader.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 32.5vh;

        .text-box {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            h1 {
                color: white;
                font-size: 2.5em;
                line-height: 1em;
                font-family: 'ABeeZee', sans-serif;
                margin-bottom: 15px;
                letter-spacing: -0.5px;
                font-weight: 700;
            }

            ol {
                display: inline-flex;

                li {
                    color: rgba(255, 255, 255, 0.8);
                    font-weight: 700;
                    font-size: 12px;
                    margin-right: 6px;

                    a {
                        text-decoration: none;
                        color: $bg-color2;
                    }
                }
            }
        }
    }

    #basic {
        padding: 50px 0;

        .headline {
            text-align: center;
            font-size: 2em;
            @include headerfont;
            padding-bottom: 80px;
        }

        .subline {
            text-align: center;
            @include headerfont;
            background-color: #FDF3E2;
            padding: 10px 0;
            border-radius: 8px;
            margin: auto;
            margin-bottom: 50px;
            font-size: 1.7em;
        }

        .typography {
            margin: auto;

            .typoText {
                font-family: $abeezee;

                p {
                    line-height: 28px;

                    &:nth-child(-n+7):nth-child(n+5),
                    &:nth-child(11),
                    &:nth-child(13) {
                        background-color: $bg-color1;
                    }

                    &:first-child {
                        color: $bg-color1 !important;
                    }

                    &:nth-child(2) {
                        color: $bg-color2 !important;
                    }
                }
            }

            .typoHeader {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    @include headerfont;
                }

                h3 {
                    &:last-child {
                        font-family: "Damion";
                    }
                }

                h6 {
                    text-transform: uppercase;
                }
            }
        }
        .altText {
            color: $bg-color1;
            border-bottom: 1px dotted $bg-color1;
            padding-left: 8px;
        }
        .lists {
            padding-bottom: 30px;
            .list {

                .altBox {
                    padding: 20px 0;

                    .link-item {
                        background-color: #FDF3E2;
                        margin-bottom: 1px;
                        padding: 10px;
                        border-radius: 3px;
                        @include headerfont;
                        @include tr-03;

                        &:hover {
                            background-color: $bg-color1;
                            color: white;
                            background-color: $bg-color2;
                        }
                    }

                    .disabled {
                        pointer-events: none;
                        opacity: 75%;
                    }

                    .current {
                        background-color: $bg-color1;
                        color: white;
                        background-color: $bg-color2;
                    }

                    p {
                        &::before {
                            font-family: FontAwesome;
                            content: "\f1b0";
                            padding-right: 5px;
                            color: $bg-color2;
                        }

                    }
                }
            }
        }
        .components{
            .box{
                .slide{
                    position: relative;
                    border: 0;
                    border-top: solid;
                    padding: 30px;
                    color: $bg-color1;
                    &:first-child,&:nth-child(6){
                        background-color: #FDF3E2 ;
                    }
                    &:first-child{
                        border-top-color: $bg-color2;
                    }
                    &:nth-child(2){
                        &::before{
                            color: $bg-color1;
                        }
                    }
                    &::before {
                        position: absolute;
                        font-family: FontAwesome;
                        content: "\f1b0";
                        padding-right: 5px;
                        color: $bg-color2;
                        font-size: 1.6em;
                        top: -25px;
                        left: 50%;
                        transform: translateX(-50%) rotate(30deg);
                    }
                }
            }
        }
    }
}

// Small devices
@media(min-width: 576px) {
    main {
        #elements {
            height: 35vh;

            div {
                .text-box {
                    ol {
                        li {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

// Medium devices
@media (min-width: 768px) {
    main {
        #elements {
            height: 45vh;

            div {
                .text-box {
                    h1 {
                        font-size: 4em;
                    }
                }
            }
        }

        #basic {
            .headline {
                font-size: 3.4em;
            }

            .subline {
                font-size: 2.4em;
            }

            .typography {
                .typoHeader {
                    h1 {
                        font-size: 4.3em;
                    }

                    h2 {
                        font-size: 3.4em;
                    }

                    h3 {
                        font-size: 2.4em;
                    }

                    h4 {
                        font-size: 1.8em;
                    }

                    h5 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

// Large devices
@media (min-width: 992px) {
    main {
        #elements {
            height: 50vh;

            div {
                .text-box {
                    h1 {
                        font-size: 4.2em;
                    }
                }
            }
        }
    }
}

// Ultra Large devices
@media (min-width: 1200px) {
    main {
        margin-left: 17.05%;
        transform: translateY(0);

        #elements {
            height: 400px;

            div {
                .text-box {
                    top: 40%;

                    h1 {
                        font-size: 4.2em;
                    }
                }
            }
        }
    }
}