@mixin tr-03 {
    transition: 0.3s ease;
}

@mixin tr-05 {
    transition: 0.5s ease;
}

@mixin round {
    @include tr-03;
    background-color: $bg-color2 !important;
    color: $bg-color1 !important;
}

@mixin headerfont {
    font-family: $abeezee;
    font-weight: 700;
    color: $bg-color1;
}

@mixin bg-1{
    background-color: $bg-color1;
    color: white;
}

@mixin bg-2{
    background-color: $bg-color2;
    color: $bg-color1;
}

@mixin border-1{
    border-color: $bg-color1;
    color: $bg-color1;
}

@mixin border-2{
    border-color: $bg-color2;
    color: $bg-color2;
}
