$bg-color1: #10223a;
$bg-color2: #fab005;
$abeezee: 'ABeeZee', sans-serif;

$bg-color1: #10223a;
$bg-color2: #fab005;
$bg-color3: #FDF3E2;
$bg-color4: #ffffff;
$bg-color5: #DEE9F7; 

$txt-color1: #ffffff;
$txt-color2: #7C7C7C;
$txt-color3: #10223A;
$txt-color4: #444444;
$txt-color5: #fab005;
$txt-color6: #FEE4A5;

$abeezee: 'ABeeZee', sans-serif;
$inter: 'Inter',sans-serif;
