#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #10223a;
}
#header .on-page-main {
  transition: 0.3s ease;
  background-color: #fab005 !important;
  color: #10223a !important;
  border-radius: 67% 33% 81% 14%/43% 69% 31% 41% !important;
}
#header .on-page-sub {
  background-color: #dee9f7;
}
#header a {
  text-decoration: none;
}
#header .logo {
  width: 10%;
  padding: 10px 0;
}
#header .toggle-box {
  width: 90%;
}
#header .toggle-box a {
  transition: 0.3s ease;
  color: white;
  font-size: 1.3em;
  padding: 2px 15px;
  border-radius: 5px;
}
#header .toggle-box a:hover {
  background-color: #fab005;
}
#header .nav-box .nav-items {
  padding: 10px 0 20px;
}
#header .nav-box .nav-items .nav-item {
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
#header .nav-box .nav-items .nav-item .main-link {
  color: white;
  border-radius: 43% 69% 31% 41%/67% 33% 81% 14%;
  padding: 10px;
  transition: 0.5s ease;
}
#header .nav-box .nav-items .nav-item .main-link:hover {
  transition: 0.3s ease;
  background-color: #fab005 !important;
  color: #10223a !important;
  border-radius: 67% 33% 81% 14%/43% 69% 31% 41%;
}
#header .nav-box .nav-items .nav-item .main-link i {
  font-size: 10px;
}
#header .nav-box .nav-items .nav-item:last-child {
  position: relative;
}
#header .nav-box .nav-items .nav-item:last-child .sub-nav-items {
  background-color: white;
  position: absolute;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.336);
  top: 25px;
  left: 100%;
  display: none;
  padding: 7px 0;
}
#header .nav-box .nav-items .nav-item:last-child .sub-nav-items ul li {
  padding: 0;
  transition: 0.5s ease;
}
#header .nav-box .nav-items .nav-item:last-child .sub-nav-items ul li .sub-link {
  padding: 5px 0;
  display: inline-block;
  color: #10223a;
  font-weight: 700;
  text-transform: capitalize;
}
#header .nav-box .nav-items .nav-item:last-child:hover .sub-nav-items {
  display: inline;
}
#header .nav-box .nav-items .nav-item:last-child:hover .sub-nav-items ul li:hover {
  background-color: #fab005;
}
#header .nav-box .nav-items .nav-item:last-child:hover .sub-nav-items ul li:hover .sub-link {
  color: white;
}
#header .footer-box {
  font-size: 13px;
  text-align: center;
}
#header .footer-box div {
  padding-bottom: 15px;
}
#header .footer-box div i {
  color: #fab005;
  padding-right: 5px;
}
#header .footer-box div span {
  color: white;
}
#header .footer-box .icons {
  font-size: 1.5em;
  padding-top: 2px;
  width: 100%;
  margin: auto;
}
#header .footer-box .icons a {
  padding: 0 10px;
}
#header .footer-box .icons a i {
  transition: 0.3s ease;
}
#header .footer-box .icons a:hover i {
  color: white;
}

@media (min-width: 768px) {
  #header .logo {
    width: 8%;
  }
  #header .toggle-box {
    width: 92%;
  }
}
@media (min-width: 992px) {
  #header .logo {
    width: 6%;
  }
  #header .toggle-box {
    width: 94%;
  }
}
@media (min-width: 1200px) {
  #header {
    width: 17%;
    height: 100vh;
  }
  #header .logo {
    width: 140px;
    padding: 38px 10px 0;
  }
  #header .logo img {
    width: 100%;
  }
}
main {
  transform: translateY(72px);
  height: 1000vh;
}
main .w-90 {
  width: 90%;
}
main #elements {
  position: relative;
  background-image: url(/images/pageheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 32.5vh;
}
main #elements svg {
  position: absolute;
  left: 0;
  bottom: 0;
}
main #elements svg path {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
main #elements .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 34, 58);
  background: linear-gradient(263deg, rgba(16, 34, 58, 0.6) 100%, rgb(255, 255, 255) 100%);
}
main #elements .text-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
main #elements .text-box h1 {
  color: white;
  font-size: 2.5em;
  line-height: 1em;
  font-family: "ABeeZee", sans-serif;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
  font-weight: 700;
}
main #elements .text-box ol {
  display: inline-flex;
}
main #elements .text-box ol li {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 12px;
  margin-right: 6px;
}
main #elements .text-box ol li a {
  text-decoration: none;
  color: #fab005;
}
main #basic {
  padding: 50px 0;
}
main #basic .headline {
  text-align: center;
  font-size: 2em;
  font-family: "ABeeZee", sans-serif;
  font-weight: 700;
  color: #10223a;
  padding-bottom: 80px;
}
main #basic .subline {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  font-weight: 700;
  color: #10223a;
  background-color: #FDF3E2;
  padding: 10px 0;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 1.7em;
}
main #basic .typography {
  margin: auto;
}
main #basic .typography .typoText {
  font-family: "ABeeZee", sans-serif;
}
main #basic .typography .typoText p {
  line-height: 28px;
}
main #basic .typography .typoText p:nth-child(-n+7):nth-child(n+5), main #basic .typography .typoText p:nth-child(11), main #basic .typography .typoText p:nth-child(13) {
  background-color: #10223a;
}
main #basic .typography .typoText p:first-child {
  color: #10223a !important;
}
main #basic .typography .typoText p:nth-child(2) {
  color: #fab005 !important;
}
main #basic .typography .typoHeader h1,
main #basic .typography .typoHeader h2,
main #basic .typography .typoHeader h3,
main #basic .typography .typoHeader h4,
main #basic .typography .typoHeader h5,
main #basic .typography .typoHeader h6 {
  font-family: "ABeeZee", sans-serif;
  font-weight: 700;
  color: #10223a;
}
main #basic .typography .typoHeader h3:last-child {
  font-family: "Damion";
}
main #basic .typography .typoHeader h6 {
  text-transform: uppercase;
}
main #basic .altText {
  color: #10223a;
  border-bottom: 1px dotted #10223a;
  padding-left: 8px;
}
main #basic .lists {
  padding-bottom: 30px;
}
main #basic .lists .list .altBox {
  padding: 20px 0;
}
main #basic .lists .list .altBox .link-item {
  background-color: #FDF3E2;
  margin-bottom: 1px;
  padding: 10px;
  border-radius: 3px;
  font-family: "ABeeZee", sans-serif;
  font-weight: 700;
  color: #10223a;
  transition: 0.3s ease;
}
main #basic .lists .list .altBox .link-item:hover {
  background-color: #10223a;
  color: white;
  background-color: #fab005;
}
main #basic .lists .list .altBox .disabled {
  pointer-events: none;
  opacity: 75%;
}
main #basic .lists .list .altBox .current {
  background-color: #10223a;
  color: white;
  background-color: #fab005;
}
main #basic .lists .list .altBox p::before {
  font-family: FontAwesome;
  content: "\f1b0";
  padding-right: 5px;
  color: #fab005;
}
main #basic .components .box .slide {
  position: relative;
  border: 0;
  border-top: solid;
  padding: 30px;
  color: #10223a;
}
main #basic .components .box .slide:first-child, main #basic .components .box .slide:nth-child(6) {
  background-color: #FDF3E2;
}
main #basic .components .box .slide:first-child {
  border-top-color: #fab005;
}
main #basic .components .box .slide:nth-child(2)::before {
  color: #10223a;
}
main #basic .components .box .slide::before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f1b0";
  padding-right: 5px;
  color: #fab005;
  font-size: 1.6em;
  top: -25px;
  left: 50%;
  transform: translateX(-50%) rotate(30deg);
}

@media (min-width: 576px) {
  main #elements {
    height: 35vh;
  }
  main #elements div .text-box ol li {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  main #elements {
    height: 45vh;
  }
  main #elements div .text-box h1 {
    font-size: 4em;
  }
  main #basic .headline {
    font-size: 3.4em;
  }
  main #basic .subline {
    font-size: 2.4em;
  }
  main #basic .typography .typoHeader h1 {
    font-size: 4.3em;
  }
  main #basic .typography .typoHeader h2 {
    font-size: 3.4em;
  }
  main #basic .typography .typoHeader h3 {
    font-size: 2.4em;
  }
  main #basic .typography .typoHeader h4 {
    font-size: 1.8em;
  }
  main #basic .typography .typoHeader h5 {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  main #elements {
    height: 50vh;
  }
  main #elements div .text-box h1 {
    font-size: 4.2em;
  }
}
@media (min-width: 1200px) {
  main {
    margin-left: 17.05%;
    transform: translateY(0);
  }
  main #elements {
    height: 400px;
  }
  main #elements div .text-box {
    top: 40%;
  }
  main #elements div .text-box h1 {
    font-size: 4.2em;
  }
}/*# sourceMappingURL=style.css.map */