#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #10223a;
}
#header .on-page-main {
  transition: 0.3s ease;
  background-color: #fab005 !important;
  color: #10223a !important;
  border-radius: 67% 33% 81% 14%/43% 69% 31% 41% !important;
}
#header .on-page-sub {
  background-color: #dee9f7;
}
#header a {
  text-decoration: none;
}
#header .logo {
  width: 10%;
  padding: 10px 0;
}
#header .toggle-box {
  width: 90%;
}
#header .toggle-box a {
  transition: 0.3s ease;
  color: white;
  font-size: 1.3em;
  padding: 2px 15px;
  border-radius: 5px;
}
#header .toggle-box a:hover {
  background-color: #fab005;
}
#header .nav-box .nav-items {
  padding: 10px 0 20px;
}
#header .nav-box .nav-items .nav-item {
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
#header .nav-box .nav-items .nav-item .main-link {
  color: white;
  border-radius: 43% 69% 31% 41%/67% 33% 81% 14%;
  padding: 10px;
  transition: 0.5s ease;
}
#header .nav-box .nav-items .nav-item .main-link:hover {
  transition: 0.3s ease;
  background-color: #fab005 !important;
  color: #10223a !important;
  border-radius: 67% 33% 81% 14%/43% 69% 31% 41%;
}
#header .nav-box .nav-items .nav-item .main-link i {
  font-size: 10px;
}
#header .nav-box .nav-items .nav-item:last-child {
  position: relative;
}
#header .nav-box .nav-items .nav-item:last-child .sub-nav-items {
  background-color: white;
  position: absolute;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.336);
  top: 25px;
  left: 100%;
  display: none;
  padding: 7px 0;
}
#header .nav-box .nav-items .nav-item:last-child .sub-nav-items ul li {
  padding: 0;
  transition: 0.5s ease;
}
#header .nav-box .nav-items .nav-item:last-child .sub-nav-items ul li .sub-link {
  padding: 5px 0;
  display: inline-block;
  color: #10223a;
  font-weight: 700;
  text-transform: capitalize;
}
#header .nav-box .nav-items .nav-item:last-child:hover .sub-nav-items {
  display: inline;
}
#header .nav-box .nav-items .nav-item:last-child:hover .sub-nav-items ul li:hover {
  background-color: #fab005;
}
#header .nav-box .nav-items .nav-item:last-child:hover .sub-nav-items ul li:hover .sub-link {
  color: white;
}
#header .footer-box {
  font-size: 13px;
  text-align: center;
}
#header .footer-box div {
  padding-bottom: 15px;
}
#header .footer-box div i {
  color: #fab005;
  padding-right: 5px;
}
#header .footer-box div span {
  color: white;
}
#header .footer-box .icons {
  font-size: 1.5em;
  padding-top: 2px;
  width: 100%;
  margin: auto;
}
#header .footer-box .icons a {
  padding: 0 10px;
}
#header .footer-box .icons a i {
  transition: 0.3s ease;
}
#header .footer-box .icons a:hover i {
  color: white;
}

@media (min-width: 768px) {
  #header .logo {
    width: 8%;
  }
  #header .toggle-box {
    width: 92%;
  }
}
@media (min-width: 992px) {
  #header .logo {
    width: 6%;
  }
  #header .toggle-box {
    width: 94%;
  }
}
@media (min-width: 1200px) {
  #header {
    width: 17%;
    height: 100vh;
  }
  #header .logo {
    width: 140px;
    padding: 38px 10px 0;
  }
  #header .logo img {
    width: 100%;
  }
}
#sections {
  transform: translateY(72px);
  height: 1000vh;
}
#sections #elements {
  position: relative;
  background-image: url(/images/pageheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vh;
}
#sections #elements .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 34, 58);
  background: linear-gradient(263deg, rgba(16, 34, 58, 0.6) 100%, rgb(255, 255, 255) 100%);
}
#sections #elements .text-box {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 50vh;
}
#sections #elements .text-box h1 {
  color: white;
  font-size: 4.3em;
  line-height: 1em;
  font-family: "ABeeZee", sans-serif;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
  font-weight: 700;
}
#sections #elements .text-box ol {
  display: inline-flex;
}
#sections #elements .text-box ol li {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 13.5px;
  margin-right: 6px;
}
#sections #elements .text-box ol li a {
  text-decoration: none;
  color: #fab005;
}
#sections svg {
  transform: translateY(-125px);
}
#sections svg path {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

@media (min-width: 1200px) {
  #sections {
    margin-left: 17.05%;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */